@model List<BatallaDeLosPenales.Servicios.Entidades.Delantero>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Delanteros:</h1>

<ul>

    @foreach (var Delantero in Model)
    {
        <li>
            <p>
                @Delantero.Id @Delantero.Nombre @Delantero.Apellido @Delantero.PenalesConvertidos @Delantero.Puntos
            </p>
        </li>
    }

</ul>
